<div class="row">
  <div class="col-2">
    <div class="list-group">
     
      
      <a href="#" class="list-group-item list-group-item-action active">Add Questions</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Modify Questions</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Delete Questions</a>
    </div>
  </div>
  <div class="col-10">
    
    

    <div class="">
      <form class="mx-auto" style="width: 60%;margin-top: 50px;">
        <div class="form-group">
          <label>Select Subject: </label>
          <select style="margin-left: 10px;" id="combobox">
            <option></option>
            <option value="Ultrasound Knee Right">Ultrasound Knee Right</option>
            <option value="Ultrasound Knee Left">Ultrasound Knee Left</option>

          </select>

        </div>
        <div class="form-group">
          
          
          <label for="comment">Question:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Option 1</label>
          <input type="text" class="form-control" id="exampleInput1" placeholder="Option 1">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Option 2</label>
          <input type="text" class="form-control" id="exampleInput2" placeholder="Option 2">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Option 3</label>
          <input type="text" class="form-control" id="exampleInput3" placeholder="Option 3">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Option 4</label>
          <input type="text" class="form-control" id="exampleInput4" placeholder="Option 4">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Answer</label>
          <input type="text" class="form-control" id="exampleInputans" placeholder="answer">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>


  </div>
</div>